<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>Ficha de Registro</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <h2 id="titulo">Registro Nacional de Servicios Turísticos</h2>
    <div class="contenedor_1">
        <p class="registro-nro">Registro Nº <b>
                <%= datos.numero_registro %>
            </b></p>

        <div class="caja-estado">
            <div class="vigente">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path
                        d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z" />
                </svg>
            </div>
        </div>

        <div class="titulo">Alojamiento turístico</div>

        <div class="formulario2">
            <p><b>Tipo:</b>
                <%= datos.tipo_alojamiento %>
            </p>
            <p><b>Nombre Comercial:</b>
                <%= datos.nombre_comercial %>
            </p>
            <p><b>Región:</b>
                <%= datos.region %>
            </p>
            <p><b>RUT Empresa:</b>
                <%= datos.rut_empresa %>
            </p>
            <p><b>Razón Social:</b>
                <%= datos.razon_social %>
            </p>
            <p><b>Dirección:</b>
                <%= datos.direccion %>
            </p>
            <p><b>Correo Electrónico:</b>
                <%= datos.email %>
            </p>
            <p><b>Teléfono:</b>
                <%= datos.telefono %>
            </p>
            <p><b>Estado del Registro:</b>
                <%= datos.estado_registro %>
            </p>
        </div>
    </div>

    <div class="parrafo-extra">
        <p>Comprueba que estos datos corresponden al servicio del cual obtuviste el código QR. Todos estos datos se
            encuentran validados por el <b>Servicio Nacional de Turismo.</b>
    </div>

    <% if (!viaQr) { %>
        <div class="btnQR">
            <button id="btnMostrarQR" class="boton">GENERA TU QR AQUÍ</button>
        </div>
        <% } else { %>
            <div class="btnQR">
                <a href="https://serviciosturisticos.sernatur.cl/" target="_blank">
                    <button class="boton">BUSCADOR DE SERVICIOS TURISTICOS</button>
                </a>
            </div>
            <% } %>


                <footer class="footer">
                    <div class="footer-logos">
                        <img src="https://registro.sernatur.cl/registroempresarios/img/sernatur2020.png">
                        <img src="https://registro.sernatur.cl/registroempresarios/img/logo_r-1.png">
                    </div>
                    <p class="copyright">
                        Servicio Nacional de Turismo - Av. Condell #679, Providencia - Santiago - Teléfono: 600 600 60
                        66
                    </p>
                </footer>

                <div id="modalQR" class="modal">
                    <div class="modal-contenido">
                        <span class="cerrar" id="cerrarModal">&times;</span>
                        <h3 class="titulo-modal">Escanea el código QR:</h3>
                        <img src="<%= qr %>" alt="Código QR" class="qr">
                    </div>
                </div>

                <script>
                    document.getElementById('btnMostrarQR').addEventListener('click', function () {
                        document.getElementById('modalQR').style.display = 'block';
                    });

                    document.getElementById('cerrarModal').addEventListener('click', function () {
                        document.getElementById('modalQR').style.display = 'none';
                    });

                    window.addEventListener('click', function (e) {
                        if (e.target === document.getElementById('modalQR')) {
                            document.getElementById('modalQR').style.display = 'none';
                        }
                    });
                </script>


</body>

</html>